<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.aroundu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.app.aroundu.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
    <permission
        android:name="com.app.aroundu.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.app.aroundu.SEND_NOTIFICATIONS"
        android:description="@string/sendPermissionSummary"
        android:label="@string/sendPermissionLabel"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:name="com.app.aroundu.RECEIVE_NOTIFICATIONS"
        android:description="@string/receivePermissionSummary"
        android:label="@string/receivePermissionLabel"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.app.aroundu.SEND_NOTIFICATIONS" />
    <uses-permission android:name="com.app.aroundu.RECEIVE_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <use-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/pch"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.app.aroundu.AccountMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.aroundu.MapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.aroundu.GreenZone"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.aroundu.AddActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.aroundu.ChildInfoActivity"
            android:label="@string/app_name" >
        </activity>

        
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.app.aroundu" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.app.aroundu.GuideView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.aroundu.ChildActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.aroundu.WizardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name="com.app.aroundu.GCMIntentService" />
        <service android:name="com.app.aroundu.RouteService" />
        <service android:name="com.app.aroundu.BatteryService" />
    </application>

</manifest>